{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<div class="content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Delete Program</div>
                        <div class="card-category">Page Subtitle</div>
                    </div>

                    <div class="col-md-6">
                        <div class="card-body">
                            <form action="" method="post" novalidate>
                                {% csrf_token %}
                                <p>Are you sure you want to delete "<strong>{{ object }}</strong>"?</p>
                                
                                {# Optional: if you don't need form.html for deletion, you can remove the include below #}
                                {% include 'includes/form.html' %}

                                <div class="form-group">
                                    <div class="col-md-12 col-sm-3">
                                        <button type="submit" class="btn btn-danger btn-rounded">Confirm Delete</button>
                                        <a href="{% url 'program-list' %}" class="btn btn-secondary btn-rounded">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}